@import '../font/fontello/css/fontello.css';
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
footer {
  text-align: right;
  font-weight: bold;
}
.quick-top {
  position: fixed;
  top: 2em;
  right: 2em;
  opacity: 0.5;
  transition: opacity 0.5s;
  color: black;
  font-size: 2em;
}
.quick-top:hover {
  opacity: 1;
}
