@import '../font/fontello/css/fontello.css';
#nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 4em;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 2;
  background-color: #dbdbdb;
  transition: 0.3s;
  border-top: solid 0.25em red;
  width: 3em;
}
#nav a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
  font-size: 0.9em;
}
#nav a div {
  padding-left: 1.5em;
  display: inline;
  transition: padding-left 0.3s;
}
#nav:hover {
  width: 10em;
}
#nav:hover a div {
  padding-left: 0.2em;
  display: inline;
  transition: padding-left 0.3s;
}
/*
    Sets the menu taking the full height and being fixed to the left of the screen.
    Also sets links in the menu a custom style and setting them a padding
*/
.side-menu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 4em;
  overflow-x: hidden;
}
.side-menu a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
  font-size: 0.9em;
}
/****************************
-----------------------------
|        OFFSET STUFF       |
-----------------------------
*****************************/
#submenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 4em;
  overflow-x: hidden;
  z-index: 1;
  width: 10.5em;
  background-color: #c2c2c2;
  padding-top: 4.25em;
}
#submenu a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
  font-size: 0.9em;
}
#submenu a {
  padding-left: 3.5em;
}
#nav a {
  transition: 0.3s;
}
/****************************
-----------------------------
|        COLOR STUFF        |
-----------------------------
*****************************/
#nav .current,
#nav a:hover {
  background-color: #c2c2c2;
}
#submenu .current,
#submenu a:hover {
  background-color: #f2f2f2;
}
#main {
  margin-left: 14.5em;
}
/*******************************
--------------------------------
|        CATEGORY STUFF        |
--------------------------------
********************************/
/**
    Just displays the content of a category when hovered (also switching the icon)
*/
.category .cat-content {
  display: block;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 1s;
}
.category .cat-content a {
  font-style: italic;
}
.category .cat-content a div {
  color: #993300;
}
.category[data-opened=true] .cat-title:before {
  content: '\f13a';
  font-family: 'fontello';
}
.category[data-opened=true] .cat-content {
  max-height: 500px;
  display: block;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
footer {
  text-align: right;
  font-weight: bold;
}
.quick-top {
  position: fixed;
  top: 2em;
  right: 2em;
  opacity: 0.5;
  transition: opacity 0.5s;
  color: black;
  font-size: 2em;
}
.quick-top:hover {
  opacity: 1;
}
#main h2 {
  font-size: 3em;
}
#main h2::before {
  content: '';
  width: 0.3em;
  border-bottom: solid 0.1em;
  padding: 0.25em;
}
#main h3 {
  font-size: 2em;
  color: red;
}
#main h3::before {
  content: '';
  width: 0.3em;
  border-bottom: solid 0.1em;
  padding: 0.25em;
}
#main h4 {
  font-size: 1em;
}
#main a {
  color: inherit;
}
body {
  background-image: url("../img/bg.png");
  background-size: 250px;
  background-color: #f2f2f2;
  font-family: 'Ubuntu', 'Times New Roman', Times, serif;
}
legend {
  font-style: italic;
  font-size: 13px;
  text-decoration: underline;
}
kbd {
  background-color: black;
  color: white;
  border: solid black;
  border-radius: 4px 4px 4px 4px;
  font-size: 15px;
}
.git-logo {
  float: left;
  width: 200px;
  margin-right: 2em;
}
