@import '../font/fontello/css/fontello.css';
.closed {
  width: 3em;
}
.closed .nav-link {
  padding-left: 1em;
  transition: padding-left 0.7s;
}
.opened {
  width: 10em;
}
.opened .nav-link {
  padding-left: 0.2em;
  transition: padding-left 0.7s;
}
.nav-link {
  display: inline;
}
.side-menu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  overflow-x: hidden;
}
.side-menu a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
}
#submenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  overflow-x: hidden;
  z-index: 1;
  width: 10.5em;
  background-color: #dfdfdf;
}
#submenu a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
}
#submenu a {
  margin-left: 3.5em;
}
#nav:hover {
  width: 10em;
}
#nav:hover .nav-link {
  padding-left: 0.2em;
  transition: padding-left 0.7s;
}
#nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  overflow-x: hidden;
  width: 3em;
  z-index: 2;
  background-color: #ffffff;
  transition: 0.5s;
}
#nav a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: black;
}
#nav .nav-link {
  padding-left: 1em;
  transition: padding-left 0.7s;
}
#nav a {
  font-size: 1.1em;
  display: block;
  transition: 0.3s;
}
.current {
  background-color: #dfdfdf;
}
#nav a:hover {
  background-color: #dfdfdf;
}
#main {
  margin-left: 10.5em;
}
