@import 'menu';
@import 'core';

#main {
    h2
    {
        font-size: 3em;
        .underscore-before();
    }
    h3
    {
        font-size: 2em;
        color: red;
        .underscore-before();
    }
}

.underscore-before()
{
    &::before
    {
        content: '';
        width: 0.3em;
        border-bottom: solid 0.1em;
        padding: 0.25em;
    }
}

@main-bg-color: rgb(242, 242, 242);

body
{
    background-image: url("../img/bg.png");
    background-size: 250px;
    background-color: @main-bg-color;
    font-family: 'Ubuntu', 'Times New Roman', Times, serif
}